/* 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 */

body {
  margin: 0;
  font-family: "VT323", monospace;

  font-family: lores-9-narrow, sans-serif;
  font-weight: 400;
  font-style: normal;

  color: #fff;
  position: relative;
  padding-bottom: 100px;
  text-align: center;

  background: #1c92d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
          to bottom,
          #4fc6fa,
          #04293d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
          to bottom,
          #4fc6fa,
          #04293d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*
body::after,
body::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 98;
  content: "";
  width: 2%;
  height: 100%;
  background: #1c92d2;
  background: -webkit-linear-gradient(
    to bottom,
    #4fc6fa,
    #04293d
  );
  background: linear-gradient(
    to bottom,
    #4fc6fa,
    #04293d
  );
}

body::after {
  right: 0;
  left: inherit;
}
*/
.logo img {
  width: 100px;
  position: fixed;
  top: 15px;
  left: 15px;
  border-radius: 50px;
  z-index: 99;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

main {
  width: 100%;
}

img {
  border-radius: 8px;
}

.intro {
  position: relative;
  top: 10%;
  margin-bottom: 50px;
  width: 600px;
  max-width: 90%;
}

.intro span {
  display: block;
  font-size: 1.8em;
  padding: 30px 0;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  height: 100%;
}

.wrap {
  margin-top: 50px;
  padding: 50px 20px 50px 20px;
  border-radius: 8px;
}

.diver-wrap {
  position: relative;
  top: 0;
  z-index: 99;
  width: 992px !important;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.handlerWrap {
  display: flex;
  justify-content: space-between;
  width: 600px;
  max-width: 90%;
}

.canvas {
  display: flex;
  justify-content: center;
  max-width: 90%;
  width: 600px;
  margin-top: 100px;
}

.canvas canvas {
  height: auto !important;
  width: 100% !important;
  border-radius: 8px;
}

.levels img {
  width: 100%;
  display: block;
}

.levels {
  max-width: 600px;
  margin: 0 auto;
}

.s1,
.scanvas,
.h100 {
  min-height: 800px;
  height: 100vh;
}

.diver {
  width: 992px;
  max-width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  height: 100vh;
  display: flex;
  align-items: center;
}

.diver img {
  position: fixed;
  z-index: 11;
  width: 992px;
  max-width: 100%;
  top: 0;
  left: 0;
}

.a1 {
  position: absolute;
  z-index: 20;
  top: 2000px;
}

.a1 img {
  position: relative;
  width: 992px;
}

.text {
  /*background: rgba(255, 255, 255, 0.8);*/
  padding: 1em;
  border-radius: 10px;
  margin: 1em 0;
  color: #fff;
}

/*
.text-r,
.text-l {
  position: absolute;
  top: 800px;
}
*/

.accessoires {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  width: 992px;
}

.accessoire {
  position: relative;
  width: 50%;
  height: 300px;
}

.abg {
  position: relative;
  width: 50%;
  height: 500px;
  margin: 50px auto;
}


.accessoire img {
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.abg img {
  object-fit: contain;
}

.faq {
  width: 600px;
  max-width: 100%;
  margin: 100px auto;
  color: #fff;
}

.accordion {
  font-family: lores-9-narrow, sans-serif;
  background-color: #1c6e9a;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #4188b7;
}

.panel {
  padding: 0 25px;
  background-color: #eee;
  color: black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@media screen and (min-width: 767px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2.5em;
  }
  .accessoire {
    width: 33%;
  }
}

@media screen and (min-width: 992px) {
  body::after,
  body::before {
    width: 10%;
  }
  .text-r {
    left: 50%;
    right: -25%;
  }
  .text-l {
    left: -25%;
    right: 50%;
  }
}
